# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [4]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [8]:
# Convert the date column format from string to datetime
df['datetime'] = pd.to_datetime(df['date'])

In [13]:
# Set the date column as the DataFrame index
df = df.set_index('datetime')

In [20]:
# Drop the date column
df = df.drop(columns=['date'])

In [21]:
df.head()

                station  prcp  tobs
datetime
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [22]:
#Identify the average temperature in June at all stations across all available years in the dataset. 
#Do the same for the temperature in December.
from scipy import stats

In [43]:
# Filter data for desired months
june = df.loc[df.index.month == 6,:]
december = df.loc[df.index.month == 12,:]

In [44]:
# Identify the average temperature for June
avg_june = june['tobs'].mean()
avg_june

74.94411764705882

In [45]:
# Identify the average temperature for December
avg_dec = december['tobs'].mean()
avg_dec

71.04152933421226

In [52]:
# Create collections of temperature data
jun = june['tobs']
dec = december['tobs']

In [55]:
# Run t-test
s, p = stats.ttest_ind(jun,dec)
print(f'The p-value is {p}, which makes the difference between the two means statistically significant')

The p-value is 3.9025129038616655e-191, which makes the difference between the two means statistically significant

### Analysis

As the temperatures in June and December are independent samples, I chose to run an unpaired t-test. The resulting p-value was less than 0.05, rejecting the null hypothesis that the means of the two groups are the same. So it is fair to move forward with the assumption that there is a statistically significant difference in the average temperatures in June and December in Hawai'i.